{% extends 'authenticate/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    {% load crispy_forms_tags %}
        <center class="container py-5">
            <h2>Log In</h2>
                <form action="" method=POST>
                    {% csrf_token %}
                    {{ user_login|crispy }}
                    <input type="submit" value="Log In" class="btn btn-secondary">
                </form>
                <p class="text-center">If you already have an account, <a href="/skill_tracker/register/">Register</a> instead.</p>
        </center>
{% endblock %}