.panel-btn {
    margin-top: 6px;
}

.error-btn {
    background-color: #e64c65 !important;
}

.info-btn {
    background-color: #2196f3 !important;
}

.success-btn {
    background-color: #4caf50 !important;
}
